<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="stylesheet" href="static/css/nav-bar.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">

    <style>
        footer {
            position: fixed;
        }

        .input-container.input-error .bar {
            background-color: red;
        }

        /* Extra Small Devices, Phones (portrait) */
        @media only screen and (max-width: 720px) and (max-height: 800px) {
            footer {
                position: inherit;
            }
        }
    </style>

    <style>

    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>
    <header>
        <div class="logo">
            <a href="{{url_for('index')}}"><img src="static/images/logo.png" alt="Medicare Logo"></a>
            <a style="text-decoration: none" href="./index.html">
                <h1>Health Care System</h1>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('aboutus')}}"><span class="home"><i class="fa fa-fw fa-home"></i></span>About
                        Us</a></li>
                <li><a href="{{ url_for('services')}}"><span class="home"><i
                                class="fa fa-fw fa-home"></i></span>Services</a>
                </li>
                <li><a href="{{url_for('analytics')}}"><span class="home"><i
                                class="fa fa-fw fa-home"></i></span>Analytics</a>
                </li>
                <li><a href="{{url_for('contactus')}}"><span><i class="fa fa-file-text"></i></span>Contact Us</a></li>
                {%if 'name' in session%}
                <li style="color:white">{{'Welcome, '+session['name']}}</li>
                <li><a href="{{ url_for('bookappointment')}}"><span><i class="fa fa-search"></i></span>Book
                        Appointment</a>
                </li>
                <li><a href="{{ url_for('logout') }}"><span><i class="fa fa-sign-out"></i></span>Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login')}}"><span><i class="fa fa-search"></i></span>Book Appointment</a>
                </li>
                <li><a href="{{ url_for('login') }}"><span><i class="fa fa-file-text"></i></span>Login</a></li>
                <li><a href="{{ url_for('createaccount')}}"> Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="card"></div>
        <div class="card">
            <h1 class="title"> Login
                <div class="close"></div>
            </h1>
            <form action="{{url_for('validate')}}" novalidate>
                <div class="input-container" id="email-container">
                    <div></div>
                    <input type="email" id="email" required="required" />
                    <label for="email"><i class="fa fa-user"></i> &nbsp; Email </label>
                    <div class="bar"></div>
                </div>
                <div class="input-container"><span style="color:red" class="email-error-message"></span></div>
                <div class="input-container" id="password-container">
                    <input type="password" id="password" value="" required="required" />
                    <label for="password"><i class="fa fa-lock"></i> &nbsp; Password</label>
                    <div class="bar"></div>
                </div>
                <div class="input-container"><span style="color:red" class="password-error-message"></span></div>
                <div class="button-container">
                    <button><span>Login &nbsp;&nbsp;<i class="fa fa-chevron-right"></i></span></button>
                </div>
                <div class="forgot-password">
                    <a href="{{url_for('forgotpassword')}}">Forgot Password?</a>
                </div>
            </form>

        </div>
        <div class="success-popup" style="display: none;">
            Logged in successfully!
        </div>

    </div>
    <script>
        const form = document.querySelector('form');
        const email = document.getElementById('email');
        const password = document.getElementById('password');
        const emailErrorMessage = document.querySelector('.email-error-message');
        const passwordErrorMessage = document.querySelector('.password-error-message');
        const successPopup = document.querySelector('.success-popup');

        const emailLabel = document.querySelector('label[for="email"]');
        const passwordLabel = document.querySelector('label[for="password"]');

        function showError(inputElement, errorMessage, inputFieldLabel) {
            inputElement.parentElement.classList.add('input-error');
            inputFieldLabel.style.webkitTransform = 'translate(-12%, -65%) scale(0.75)';
            inputFieldLabel.style.transform = 'translate(-12%, -65%) scale(0.75)';
            inputFieldLabel.style.color = '#b5c3d8';
            errorMessage.textContent = inputElement.validationMessage;
        }

        function hideError(inputElement, errorMessage) {
            inputElement.parentElement.classList.remove('input-error');
            errorMessage.textContent = '';
        }
        function validateEmail() {

            pattern = /^((([!#$%&'*+\-/=?^_`{|}~\w])|([!#$%&'*+\-/=?^_`{|}~\w][!#$%&'*+\-/=?^_`{|}~\.\w]{0,}[!#$%&'*+\-/=?^_`{|}~\w]))[@]\w+([-.]\w+)*\.\w+([-.]\w+)*)$/;
            if (email.validity.valueMissing) {
                showError(email, emailErrorMessage, emailLabel);
            } else if (!pattern.test(email.value)) {
                showError(email, emailErrorMessage, emailLabel);
                emailErrorMessage.textContent = 'Please enter a valid email address';
            } else {
                hideError(email, emailErrorMessage);
            }
        }
        function validatePassword() {
            patternpassword = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/;
            if (password.validity.valueMissing) {
                showError(password, passwordErrorMessage, passwordLabel);
            }else if(!patternpassword.test(password.value)){

                showError(password, passwordErrorMessage, passwordLabel);
                passwordErrorMessage.textContent = 'The password you provided is not valid. Please ensure that your password meets the following requirements a) Must contain at least one lowercase and uppercase letter and atleast one digit and Must be at least 8 characters long.'
            } else {
                hideError(password, passwordErrorMessage);
            }
        }

        function handleBlur(event) {
            if (event.target === email) {
                validateEmail();
            } else if (event.target === password) {
                validatePassword();
            }
        }
        async function validateUser() {
            const email = document.getElementById('email');
            const password = document.getElementById('password');
            const response = await fetch('/validate', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email: email.value, password: password.value }),
            });
            const data = await response.json();
            console.log(data)
            if (data.success) {
                Swal.fire({
                    title: 'Success',
                    text: 'You have successfully logged in!',
                    icon: 'success',
                    confirmButtonText: 'OK',
                });
                return true;
            } else if (data.message === 'Invalid email or password') {
                showError(password, passwordErrorMessage, passwordLabel);
                passwordErrorMessage.textContent = 'Please check your email or password.';
                return false; 
            } else {
                showError(password, passwordErrorMessage, passwordLabel);
                passwordErrorMessage.textContent = 'It seems like you do not have an account. Please sign up.';
                return false; 
        }
        // } else {
        //     // showError(password, data.message, 'Password');
        //     showError(password, passwordErrorMessage, passwordLabel);
        //         passwordErrorMessage.textContent = 'It seems like you didnt Sign Up. Please Sign Up.';
        //     return false;
        // }
        }
        email.addEventListener('input', validateEmail);
        password.addEventListener('input', validatePassword);

        email.addEventListener('blur', handleBlur);
        password.addEventListener('blur', handleBlur);
        async function validateForm(event) {
            event.preventDefault();
            validateEmail();
            validatePassword();
            if (form.checkValidity()) {
                const isValidUser = await validateUser();
                if (isValidUser) {
                    window.location.href = "{{url_for('aboutus')}}";
                }
            }
        }

        form.addEventListener('submit', validateForm);
    </script>
    <footer>
        <p>&copy; 2023 Medicare Healthcare System. All rights reserved.</p>
    </footer>
</body>

</html>